.button {
  width: 70%;
  padding: 10px 20px;
  background: #000;
  color: #fff;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  font-size: 2rem;
  transition: background-color 0.3s ease;
  font-family: "Teacher", sans-serif;
  text-transform: capitalize;

  animation: pulse 0.5s ease-in-out infinite;
}

.button:hover {
  animation: shake 0.2s;
  animation-iteration-count: infinite;
  background-color: #ff4747;
}

@keyframes shake {
  0% { transform: translateX(0); }
  25% { transform: translateX(-5px); }
  50% { transform: translateX(5px); }
  75% { transform: translateX(-5px); }
  100% { transform: translateX(0); }
}

@keyframes pulse {
  0%, 100% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.05); /* Adjust scale value for bigger/smaller pulse */
  }
}