.header {
  padding: 16px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
}

.container {
  padding: 16px;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  width: 100%;
  gap: 8px;
}

.checksContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: "WhatDo", sans-serif;
  font-size: 3rem;
  gap: 16px;
}

.button {
  width: 150px;
  padding: 10px 20px;
  font-size: 16px;
  background-color: #000; /* Black background */
  color: #fff; /* White text */
  border: none;
  border-radius: 8px;
  cursor: pointer;
  transition: background-color 0.3s ease, transform 0.2s ease;
}

.button:hover {
  background-color: #ff4747; /* Red background on hover */
  transform: scale(1.05); /* Slightly enlarge on hover */
}

.button:active {
  transform: scale(1); /* Reset scaling on click */
}